<!doctype html>
<html>
    <head>
        <title>Expense List</title>
    </head>
    <body>
        <head>
            <nav>
                {% if user.is_authenticated %}
                    Hello, {{ user.username }}
                <ul>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                    <li><a href="{% url 'account_list' %}">Accounts</a></li>
                    <li><a href="{% url 'home' %}">Receipt List</a></li>
                    <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                    <li><a href="{% url 'create_category' %}">Create Expense Category</a></li>
                    <li><a href="{% url 'create_account' %}">Create Account</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign up</a></li>
                    <li><a href="{% url 'user_login' %}">Login</a></li>
                </ul>
                {% endif %}
            </nav>
        </head>
        <main>
            {% if user.is_authenticated %}
            <h1>Expense List</h1>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in expense_object.all %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipts.count }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        <footer>
        </footer>
    </body>
</html>
