<!DOCTYPE html>
<html>
    <head>
        <nav>
            {% if user.is_authenticated %}
                Hello, {{ user.username }}
            <ul>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'account_list' %}">Accounts</a></li>
                <li><a href="{% url 'category_list' %}">Expense Categories</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'home' %}">Receipt List</a></li>
                <li><a href="{% url 'create_account' %}">Create Account</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Sign up</a></li>
                <li><a href="{% url 'user_login' %}">Login</a></li>
            </ul>
            {% endif %}
        </nav>
    </head>
    <body>
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button>Create</button>
                </form>
            </div>
    </main>
    <footer>
    </footer>
    </body>
</html>
